<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/CDF_chart_handler.js"></script>
    <title>Chart Generator</title>
    <script th:inline="javascript">
    /*<![CDATA[*/
        $( document ).ready(function(){
            $("#container").height(window.innerHeight);
            $("#container").width(window.innerWidth);

            let params = new URLSearchParams(document.location.search.substring(1));
            let jsonParam = params.get("json");
            let errorElement = document.getElementById("errorSpan");
            let loadingElement = document.getElementById("loader");
            
            if(!jsonParam){
                loadingElement.style.display = "none";
                errorElement.style.display = "inline-block";
                errorElement.style.verticalAlign = "middle";
            }
            else{
                errorElement.style.display = "none";
                loadingElement.style.display = "inline-block";
                loadingElement.style.verticalAlign = "middle";
                try {
                    let decodedJsonParam = decodeURI(jsonParam)
                    console.log(decodedJsonParam);
                    handleAdminSideData(JSON.parse(decodedJsonParam));
                } catch(e) {
                  console.error(e);
                }
            }
        });    
    /*]]>*/
    </script>
</head>

<body style="margin: 0 auto">

<div id="container" style="margin: 0 auto; text-align: center; max-width:100%; display: block">
    <span class="centerer" style="display: inline-block;vertical-align: middle; height: 100%;"></span>
    <div id="loader" style="display: none">
        <div style="font-family: 'Lato', sans-serif;">Depending on your data selection, this may take some time.</div>
        <div><img src="images/ajaxloader.gif" alt="Loading"/></div>
    </div>
    <span id="errorSpan" style="display: none; font-family: 'Lato', sans-serif;"></span>
</div>

</body>
</html>