<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/connectionToChartDataizer.js"></script>
    <title>Chart Giver</title>
    <script th:inline="javascript">
    /*<![CDATA[*/
        $( document ).ready(function(){
            //Setting container's height & <width></width>
            $("#container").height =  window.innerHeight;
            $("#container").width = window.innerWidth;
            
            /*Multidata test static file*/
            // fetchChart("http://localhost:8080/jsonFiles/multiAdminToHtml.json", handleAdminSideData);
            /*Simple data test static file*/
            // fetchChart("http://localhost:8080/jsonFiles/adminToHtml.json");
            /*Close to real request file*/
            fetchChart("http://localhost:8080/jsonFiles/closeToRealRequest.json");
        });    
    /*]]>*/
    </script>
</head>

<body>

<div id="container" style="margin: 0 auto; text-align: center; height: 600px; display: block">
    <span class="centerer" style="display: inline-block;vertical-align: middle; height: 100%;"></span>
    <img id="loadingImg" src="/images/ajaxloader.gif" alt="Wait" style="display: inline-block; vertical-align: middle;"/>
</div>

</body>
</html>